.warper {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.warper a {
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  text-align: center;
  background-color: blue;
}

.container .optionBar{
  margin-bottom: 20px;
}

.container .optionBar p{
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

.container .optionBar .optionBar__optionContainer{
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
}

.container .optionBar .optionBar__optionContainer a{
  font-size: 1rem;
  font-weight: bold;
  background-color: green;
  padding: 7px;
  border-radius: 10%;
}

.container .optionBar .optionBar__optionContainer a:hover{
  background-color: skyblue;
}

.coinInfo {
  border-bottom: 1px solid;
  border-color: #f44336;
  padding: 5px 10px;
  display: flex;
}

.coinInfo .coinInfo__identity {
  display: flex;
  justify-content: flex-start;
  width: 30%;
}

.coinInfo .coinInfo__identity .coinInfo__identity--logo {
  margin-right: 10px;
}

.coinInfo .coinInfo__identity .coinInfo__identity--name h1 {
  font-size: 1.2rem;
  margin: 0;
}

.coinInfo .coinInfo__identity .coinInfo__identity--name p {
  font-size: 1rem;
  margin: 5px 0;
  font-style: italic;
}

.coinInfo .coinInfo__price {
  display: flex;
  width: 70%;
  justify-content: space-around;
}

.coinInfo .coinInfo__price p{
  font-weight: bold;
}
